:root { 
--green_300:#81c784; 
--green_100:#c8e6c9; 
--red_600:#e53835; 
--green_900:#1b5e1f; 
--red_400:#df5753; 
--green_700:#388e3b; 
--green_500_75:#4caf4f75; 
--green_500:#4caf4f; 
--blue_gray_200_66:#abbed166; 
--deep_orange_300:#eb996e; 
--blue_gray_700:#455a64; 
--blue_gray_900_01:#333333; 
--blue_gray_900:#263238; 
--gray_600:#717171; 
--blue_gray_100:#d9d9d9; 
--blue_700:#0671e0; 
--gray_800:#4d4d4d; 
--blue_500:#2194f3; 
--blue_gray_200_4c:#abbed14c; 
--blue_gray_200_99:#abbed199; 
--white_A700_63:#ffffff63; 
--gray_100_01:#f5f5f5; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--indigo_800:#3a3b7b; 
--green_200:#a5d6a7; 
--blue_gray_50:#e8ecf1; 
--red_300:#e58a7b; 
--green_800:#237d31; 
--green_600:#43a046; 
--gray_50:#fafafa; 
--green_400:#66bb69; 
--blue_gray_800_02:#3b4158; 
--black_900:#000000; 
--yellow_700:#fbc02d; 
--black_900_63:#00000063; 
--blue_gray_800:#37474f; 
--deep_orange_200:#ffbe9d; 
--deep_purple_A700:#5417d7; 
--gray_900_02:#212326; 
--blue_gray_50_01:#f1f1f1; 
--gray_900_03:#212121; 
--white_A700_6c:#ffffff6c; 
--green_800_01:#2e7d31; 
--blue_gray_200:#abbed1; 
--blue_gray_400:#88939e; 
--gray_900:#18191f; 
--gray_900_01:#0f3d12; 
--red_300_01:#cf6f64; 
--green_50:#e8f5e9; 
--gray_300:#e0e0e0; 
--blue_gray_800_01:#394149; 
--gray_300_02:#d9dbe1; 
--gray_300_01:#e8e8e3; 
--gray_100:#f5f7f9; 
--blue_gray_200_33:#abbed133; 
--black_900_33:#00000033; 
}